#root {
  background-color: hsla(211.84,33.79%,28.43%,1);
  margin: 0 auto;
  border-radius: 15px;
  max-width: 500px;
}

h1 {
  color: hsla(343.22,82.66%,66.08%,1);
}

.app-container img {
  width: 100px;
  display: block;
  margin: 20px auto;
}